@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

body {
  @apply scrollbar scrollbar-thumb-themeBlue scrollbar-thin scrollbar-track-themeStepperGrey overflow-x-hidden;
}
@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Arrange buttons vertically for mobile view */
  }

  .button:nth-child(2) {
    order: -1; /* Move the second button to the top in mobile view */
  }
}
